.main
  .main__image
  
  .main__text
    .main__text__box
      最適な一滴を
    .main__text__box2
      The eye is the window of the heart.

    .main__box
      .main__box__1
        .main__box__1__1
          %button.btn.shadow 
            コンタクト
        .main__box__1__2
          %button.btn.shadow 
            リフレッシュ
        .main__box__1__3
          %button.btn.shadow 
            花粉症  
        .main__box__1__4
          %button.btn.shadow 
            結膜炎
      .main__box__2
        .main__box__2__1
          %button.btn.shadow 
            ドライアイ
        .main__box__2__2
          %button.btn.shadow 
            疲れ・かすみ
        .main__box__2__3
          %button.btn.shadow 
            充血　  
        .main__box__2__4
          %button.btn.shadow 
            キッズ
          

          