%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    - if user_signed_in?
      %a.navbar-brand{:href => "#"} 111Start Bootstrap
    - else
      %a.navbar-brand{:href => "#"} Start Bootstrap
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          - if user_signed_in?
            = link_to "質問", "/questions", class: "nav-link"
        %li.nav-item
          - if user_signed_in?
            %a= link_to "ログアウト", destroy_user_session_path, class: "nav-link", :method => :delete
          - else
            = link_to "ログイン", "/users/sign_in", class: "nav-link"

.container
  / Jumbotron Header
  %header.jumbotron.my-4
    %h1.display-3 A Warm Welcome!
    %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    %a.btn.btn-primary.btn-lg{:href => "#"} Call to action!
  / Page Features
  .row.text-center
    .col-lg-3.col-md-6.mb-4
      .card.h-100
        %img.card-img-top{:alt => "", :src => "http://placehold.it/500x325"}/
        .card-body
          %h4.card-title Card title
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
        .card-footer
          %a.btn.btn-primary{:href => "#"} Find Out More!
    .col-lg-3.col-md-6.mb-4
      .card.h-100
        %img.card-img-top{:alt => "", :src => "http://placehold.it/500x325"}/
        .card-body
          %h4.card-title Card title
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.
        .card-footer
          %a.btn.btn-primary{:href => "#"} Find Out More!
    .col-lg-3.col-md-6.mb-4
      .card.h-100
        %img.card-img-top{:alt => "", :src => "http://placehold.it/500x325"}/
        .card-body
          %h4.card-title Card title
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
        .card-footer
          %a.btn.btn-primary{:href => "#"} Find Out More!
    .col-lg-3.col-md-6.mb-4
      .card.h-100
        %img.card-img-top{:alt => "", :src => "http://placehold.it/500x325"}/
        .card-body
          %h4.card-title Card title
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.
        .card-footer
          %a.btn.btn-primary{:href => "#"} Find Out More!

