.container
  %header.jumbotron.my-4
    %h1.display-3 Answers
  %div 現在回答募集中の質問一覧です
  .row.text-center
    - @questions.each do |question|
      .col-lg-3.col-md-6.mb-4
        .card.h-100
          %img.card-img-top{:alt => "", :src => "http://placehold.it/500x325"}/
          .card-body
            %h4.card-title= question.title
            %p.card-text= question.body
          .card-footer
            = link_to '回答する', "/answers/new/#{question.id}"
