
  .main {
    position: fixed;
    padding-top: 80px;
    height: 100%;
    background-image: image-url("/images/top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    
    &__image {
  
    
      }
    &__text {
      width: 100%;
      height: 100vh;
    
      &__box {
        color: rgba(69,179,224,1);
        font-family:'M PLUS Rounded 1c', sans-serif;
        font-size: 25px;
        padding-top: 20px;
        padding-left: 50px;
        width: 100%;
      }

      &__box2 {
        background: linear-gradient( to bottom,  rgb(92, 235, 245) 38%, rgb(6, 111, 230) 62% );
        -webkit-background-clip: text;
        color: transparent;
        font-size: 42px;
        font-family: 'Anton', sans-serif;
        font-weight: bold;
        margin-left: 100px;
       
    }
  }
    &__box {
      padding-top: 20px;
      width: 100%;
      height: 100vh;
      
      &__1 {
       
        display: flex;
        padding-top: 30px;
        margin: auto;
        justify-content:space-around;

        &__1 {
  
          white-space: nowrap;
          text-align:center;
          .btn {
            a {
              text-decoration: none;
              color:black;
            }
            // position: relative;
            display: inline-block;
            background-color: rgb(245, 245, 245);
            border: 10px solid black;
            font-weight: 600;
            padding: 50px 85px;
            margin: 20px;
            cursor: pointer;
            transition: all 0.3s;
            
            

              &.shadow:hover {   
                transform: translate(4.5px, 4.5px);
                background-color: black;
               
                a {
                  text-decoration: none;
                  color:white;
                }
               
              }             
          }

        }

        &__2 {
          white-space: nowrap;
          text-align:center;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;
          }
          .btn {
            position: relative;
            display: inline-block;
            background-color:black;
            border: 10px solid white;
            font-weight: 600;
            padding: 50px 85px;
            margin: 20px;
            cursor: pointer;
            transition: all 0.3s;
            color:white;
            text-decoration: none !important;

              &.shadow:hover {   
                transform: translate(4.5px, 4.5px);
                background-color:  rgb(245, 245, 245);;
                color:black;
                a {
                  text-decoration: none;
                  color:black;
                }
            }
          
          }
      
        }
        &__3 {
          white-space: nowrap;
          text-align:center;
          a {
            text-decoration: none;
            color:black;
          }
          .btn {
            position: relative;
            display: inline-block;
            background-color: rgb(245, 245, 245);
            border: 10px solid black;
            font-weight: 600;
            padding: 50px 85px;
            margin: 20px;
            cursor: pointer;
            transition: all 0.3s;
            color:black;
            text-decoration: none !important;

              &.shadow:hover {   
                transform: translate(4.5px, 4.5px);
                background-color: black;
                color:white;
                a {
                  text-decoration: none;
                  color:white;
                }
            }
          }
        }
        &__4 {
          a {
            text-decoration: none;
            color: white;
          }
          white-space: nowrap;
          text-align:center;
          .btn {
            position: relative;
            display: inline-block;
            background-color:black;
            border: 10px solid white;
            font-weight: 600;
            padding: 50px 85px;
            margin: 20px;
            cursor: pointer;
            transition: all 0.3s;
            color:white;
            text-decoration: none !important;

              &.shadow:hover {   
                transform: translate(4.5px, 4.5px);
                background-color:  rgb(245, 245, 245);;
                color:black;
                a {
                  text-decoration: none;
                  color: black;
                }
            }
          }
      
        }
      }
        &__2 {
          display: flex;
          padding-top: 30px;
          margin: auto;
          justify-content:space-around;

          &__1 {
            white-space: nowrap;
            text-align:center;
            a {
              text-decoration: none;
              color:white;
            }
            .btn {
              position: relative;
              display: inline-block;
              background-color:black;
              border: 10px solid white;
              font-weight: 600;
              padding: 50px 85px;
              margin: 20px;
              cursor: pointer;
              transition: all 0.3s;
              color:white;
              text-decoration: none !important;
  
                &.shadow:hover {   
                  transform: translate(4.5px, 4.5px);
                  background-color:  rgb(245, 245, 245);;
                  color:black;
                  a {
                    text-decoration: none;
                    color:black;
                  }
              }
            }
        
          }

          &__2 {
            white-space: nowrap;
            text-align:center;
            a {
              text-decoration: none;
              color:black;
            }
            .btn {
              position: relative;
              display: inline-block;
              background-color: rgb(245, 245, 245);
              border: 10px solid black;
              font-weight: 600;
              padding: 50px 85px;
              margin: 20px;
              cursor: pointer;
              transition: all 0.3s;
              color:black;
              text-decoration: none !important;

                &.shadow:hover {   
                  transform: translate(4.5px, 4.5px);
                  background-color: black;
                  color:white;
                  a {
                    text-decoration: none;
                    color:white;
                  }
              }
            }
        
          }
          &__3 {
            white-space: nowrap;
            text-align:center;
            a {
              text-decoration: none;
              color:white;
            }
            .btn {
              position: relative;
              display: inline-block;
              background-color:black;
              border: 10px solid white;
              font-weight: 600;
              padding: 50px 85px;
              margin: 20px;
              cursor: pointer;
              transition: all 0.3s;
              color:white;
              text-decoration: none !important;
  
                &.shadow:hover {   
                  transform: translate(4.5px, 4.5px);
                  background-color:  rgb(245, 245, 245);;
                  color:black;
                  a {
                    text-decoration: none;
                    color:black;
                  }
              }
            }
          }
          &__4 {
            white-space: nowrap;
            text-align:center;
            a {
              text-decoration: none;
              color:black;
            }
          
            .btn {
              position: relative;
              display: inline-block;
              background-color: rgb(245, 245, 245);
              border: 10px solid black;
              font-weight: 600;
              padding: 50px 85px;
              margin: 20px;
              cursor: pointer;
              transition: all 0.3s;
              color:black;
              text-decoration: none !important;

                &.shadow:hover {   
                  transform: translate(4.5px, 4.5px);
                  background-color: black;
                  color:white;
                  a {
                    text-decoration: none;
                    color:white;
                  }
              }
            }
        
          }
        }




    }

}