
.reds {
  background-image: none;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
  &__body {
    width: 100%;
    height: 100%;

}
}


.drytop { 
  margin: 20px;
  // background-color: yellowgreen;
  width: 100vw;
  height: 100vh;
  // margin-top: 100px;
  position: fixed;
  display: flex;

  &__box {
 
    width: 600px;
    margin-top: 80px;
    &__pic {

    width: 430px;
    height: 320px;
    margin: 0 auto;
    margin-top: 80px;
    }
    &__cp {
    text-align: center;
    }

    &__component {
      height: 100px;
      margin: 20px;
      
      &__name {
        height: 40px;

        &__1 {
          display: flex;
          justify-content: center;
          align-items: center;   
          font-size: 45px;
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-weight: bold;
          background: linear-gradient(259deg, #00e4fd, #e0e6e6);

        }

      }
      &__rank {
        display: flex;
        justify-content: center;
        align-items: center;   
        font-size: 20px;


      }


      &__company {
        height: 40px;

        &__3 {
          display: flex;
          justify-content: center;
          align-items: center;   
          font-size: 20px;
        }  

      }
  
    }
  }  
  &__body {
  
    width: 800px;
    height: 550px;
    margin-top: 100px;
    border: 10px solid black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
   
    &__point {
      display: flex;
      justify-content: center;
      align-items: center;   
      font-size: 35px;
      margin-bottom: 20px;
      background: linear-gradient(259deg, #00e4fd, #c1f4f4);

    }
    &__com {
      display: flex;
      &__icon {
        
        a {
          text-decoration: none; 
          color: rgba(69,179,224,1);
        }
        margin-left: 10px;
      }

      &__word {
        font-size: 30px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: bold;
        color: red;
      }
    }

    &__pit {
      margin-left: 70px;
      font-size: 25px;
    }

    &__com2 {
      margin-top: 30px;
      display: flex;
    }

    &__advice {
      margin-left: 70px;
      font-size: 25px;
    
    
    }



    &__about {

      
    &__boby {
      background: blue;
      margin-top: 200px;

    }

    }
    } 






    }

  
   




